* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: navy;
    margin: 0;
    padding: 0;
}

nav h1 {
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
    color: rgb(62, 87, 190);
    margin: 30px;
}

h2 {
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: aliceblue;
    margin: 30px;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a {
    text-decoration: none;
    color: rgb(30, 71, 235);
}

nav a:hover {
    color: rgb(208, 181, 27);
}

nav .active {
    color: rgb(208, 181, 27);
    border-bottom: 2px solid rgb(208, 181, 27);
}

nav li {
    text-decoration: none;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 45px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14vh;
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}

.social {
    text-decoration: none;
    margin-left:30px;
    margin-top: 20px;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    margin: 0;
    padding: 0;
    height: 15vh;
}

.presentation.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 90, 120);
    margin: 0;
    padding: 0;
    height: 20vh;
}

.presentation.skills.libs h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.presentation h2 {
    display: block;
}

.section-title {
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: aliceblue;
    margin: 60px;
}

.section-title-sub {
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: aliceblue;
    margin-top: 60px;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 208, 0);
    height: 80vh;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-container {
    display: flex;
    overflow-x: auto;
}

.project-card {
    width: calc(33.33% - 40px); /* Adjust as needed for spacing */
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    height: 420px;
    overflow: hidden;
    transition: height 4s;
}

.project-card:hover {
    height: auto;
    transition: height 4s;
}

.hover-link {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}

.tooltip {
    position: absolute;
    bottom: 100%; /* Display above the element */
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: 150px; /* Adjust the width as needed */
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    z-index: 1;
  }

.hover-link:hover .tooltip {
    display: block;
}

.project-link {
    display: inline-block;
    background-color: #333;
    border-radius: 20px;
    padding: 2px 15px;
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bold;
    margin-top: 10px;
}

.github-logo {
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
}

.project-card a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

.project-card a:hover {
    color: rgb(208, 181, 27)
}

.project-card h3 {
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.project-card p {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

.project-image {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
}

.contact {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
