@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Stack elements vertically */
        text-align: center; /* Center align text */
        padding: 10px; /* Add padding for better spacing */
    }

    nav ul {
        flex-direction: column; /* Stack menu items vertically */
        margin: 0;
        display: none;
    }

    .hamburger {
        display: flex; /* Show the hamburger icon */
    }

    nav h1 {
        font-size: 32px; /* Adjust font size */
        margin: 0; /* Remove margin */
    }

    nav li {
        margin-top: 10px; /* Add space between menu items */
    }

    .nav-links {
        display: none;
    }

    .nav-links.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: white;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: navy;
    margin: 0;
    padding: 0;
}

nav h1 {
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
    color: rgb(62, 87, 190);
    margin: 1.5rem;
}

h2 {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: aliceblue;
    margin: 1.5rem;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a {
    text-decoration: none;
    color: rgb(30, 71, 235);
}


button {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    font-size: 0.875rem;
    background-color: rgb(62, 87, 190);
    color: white;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

button:hover {
    z-index: 1;
    transform: scale(1.05);
    box-shadow: 0px 0.5rem 0.625rem rgba(0, 0, 0, 0.2);
}


nav a:hover {
    color: rgb(208, 181, 27);
}

nav .active {
    color: rgb(208, 181, 27);
    border-bottom: 2px solid rgb(208, 181, 27);
}

nav li {
    text-decoration: none;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 45px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14vh;
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}

.social {
    text-decoration: none;
    margin-left:30px;
    margin-top: 20px;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    margin: 0;
    padding: 0;
    height: 15vh;
}

.presentation.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 90, 120);
    margin: 0;
    padding: 0;
    height: 20vh;
}

.presentation.skills.libs h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.presentation h2 {
    display: block;
}

.presentation p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.presentation a {
    text-decoration: none;
    color: whitesmoke;
}

.section-title {
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: aliceblue;
    margin: 60px;
}

.section-title-sub {
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: aliceblue;
    margin-top: 60px;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 208, 0);
    height: 80vh;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-container {
    display: flex;
    overflow-x: auto;
}

.project-card {
    width: calc(33.33% - 2.5rem); /* Adjust as needed for spacing */
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    height: 26rem;
    overflow: hidden;
    transition: height 4s;
}

.project-card:hover {
    z-index: 1;
    height: auto;
    transform: scale(1.05); /* Optional: Add a slight scale effect */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.hover-link {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}

.tooltip {
    position: absolute;
    bottom: 100%; /* Display above the element */
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: 150px; /* Adjust the width as needed */
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    z-index: 1;
  }

.hover-link:hover .tooltip {
    display: block;
}

.project-link {
    display: inline-block;
    background-color: #333;
    border-radius: 20px;
    padding: 2px 15px;
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bold;
    margin-top: 10px;
}

.github-logo {
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
}

.project-card a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

.project-card a:hover {
    color: rgb(208, 181, 27)
}

.project-card h3 {
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.project-card p {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

.project-image {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
}

.experience {
    background-color: rgb(60, 90, 120);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200vh;
}

.experience h3 {
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    color: aliceblue;
    margin: 20px;
}

.experience.yt {
    background-color: rgb(146, 9, 9);
    border-radius: 10px;
    width: 600px;
    height: 400px;
    max-height: 800px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.experience.yt p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 15px;
    color: aliceblue;
}

.experience.freelance {
    margin: 30px;
    background-color: rgb(35, 217, 50);
    border-radius: 10px;
    width: 600px;
    height: 450px;
    max-height: 800px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.experience.experience.freelance p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 15px;
    color: aliceblue;
}

.contact {
    background-color: aliceblue;
    padding: 50px 0;
    text-align: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-container form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container label,
.contact-container input,
.contact-container textarea,
.contact-container button {
    margin-bottom: 1.5rem;
}

label {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    width: 31.25rem;
    height: 5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.1875rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input:focus {
    outline: none;
    z-index: 1;
    height: auto;
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

textarea {
    width: 31.25rem;
    height: 10rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.1875rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    resize: none;
}


textarea:focus {
    outline: none;
    z-index: 1;
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.hamburger {
    display: none; /* Initially hide the hamburger icon on larger screens */
    /* Add other styles for positioning and appearance */
}

/* Styles for the navigation links */
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    /* Add other styles for positioning and appearance */
}

.line {
    width: 25px;
    height: 3px;
    background-color: aliceblue;
    margin: 3px 0;
}
