* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: navy;
    margin: 0;
    padding: 0;
}

nav h1 {
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
    color: rgb(62, 87, 190);
    margin: 30px;
}

h2 {
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: aliceblue;
    margin: 30px;
}

nav {
    display: flex;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a {
    text-decoration: none;
    color: rgb(30, 71, 235);
}

nav a:hover {
    color: rgb(208, 181, 27);
}

/* Stilizzazione per l'elemento attivo */
nav .active {
    color: rgb(208, 181, 27);
    border-bottom: 2px solid rgb(208, 181, 27);
}

nav li {
    text-decoration: none;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 45px;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    margin: 0;
    padding: 0;
    height: 30vh;
}

.presentation h2 {
    display: block;
}

.section-title {
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: aliceblue;
    margin: 60px;
}
